form{

    display:flex;

    flex-direction:column;

    gap:15px;

}

input{

    width:100%;

    padding:14px;

    border:1px solid #d6dce5;

    border-radius:10px;

    font-size:16px;

    outline:none;

    transition:.3s;

}

input:focus{

    border-color:#2563eb;

    box-shadow:0 0 10px rgba(37,99,235,.2);

}